<div class="row">
  <div class="col">
    <div class="card mb-2 mt-2">
      <div class="card-header">
        All Users
      </div>
      <div class="card-body">
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>details</th>
            <th>delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
              <a href="#" type="button" class="btn btn-primary">details</a>
            </td>
            <td>
              <a href="#" type="button" class="btn btn-danger">delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12">
      <div class="card mt-2">
        <div class="card-header">
          <a type="button" class="btn btn-primary" (click)="redirectToNewUser()">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>
